<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorsが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Editing Book</h1>

<form>
<%= render 'form', book: @book %>
</form>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
